<div class="modal-header">
    <h3 class="modal-title"><strong>Firmenprofil</strong> <small>{{vm.company.companyName}}</small></h3>
</div>
<div class="modal-body">
    <p style="white-space: pre-line;">{{vm.company.description}}</p>
    <p>{{vm.centerAvailable}}</p>
    <table class="table">
        <tbody>
        <tr>
            <th>Web-Seite</th>
            <td><a href="{{vm.company.website}}" target="_blank">{{vm.company.website}}</a></td>
        </tr>
        <tr>
            <th>Anschrift</th>
            <td>
                <address>
                    {{vm.company.street}}<br>
                    {{vm.company.zipCode}} {{vm.company.city}}<br>
                    {{vm.country.name}}
                </address>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <ng-map ng-if="vm.render" center="{{vm.center}}" zoom="15" pan-control="true" zoom-control="true" scale-control="true">
                    <marker position="{{vm.center}}"></marker>
                </ng-map>
            </td>
        </tr>
        <tr>
            <th>Ansprechpartner</th>
            <td>
                <address>
                    <span class="fa fa-user"></span> {{vm.company.contact.formOfAddress}} {{vm.company.contact.firstName}}
                    {{vm.company.contact.secondName}}<br>
                    <span class="fa fa-phone"></span> <a href="tel:{{vm.company.contact.telephone}}">{{vm.company.contact.telephone}}</a><br>
                    <span class="fa fa-fax"></span> <a href="fax:{{vm.company.contact.fax}}">{{vm.company.contact.fax}}</a><br>
                    <span class="fa fa-envelope"></span> <a href="mailto:{{vm.company.contact.email}}">{{vm.company.contact.email}}</a>
                </address>
            </td>
        </tr>
        <tr>
            <th>Anzahl der Mitarbeiter</th>
            <td>{{vm.company.numberOfEmployees}}</td>
        </tr>
        <tr>
            <th>Anzahl der Angebote</th>
            <td>{{vm.company.numberOfOffers}}</td>
        </tr>
        <tr>
            <th>Branchen</th>
            <td>
                <ul class="list-inline">
                    <li ng-repeat="industrialSector in vm.industrialSectors">{{industrialSector.name}}{{$last ? '' : ', '}}</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.close()">Schließen</button>
</div>
