<div class="modal-header">
    <h3 class="modal-title"><strong>Angebotsprofil</strong> <small>{{vm.offer.shortDescription}}</small></h3>
</div>
<div class="modal-body">
    <p style="white-space: pre-line;">{{vm.offer.description}}</p>
    <table class="table">
        <tbody>
        <tr>
            <th>Firma</th>
            <td>{{vm.company.companyName}}</td>
        </tr>
        <tr>
            <th>Firmen-Web-Seite</th>
            <td><a href="{{vm.company.website}}" target="_blank">{{vm.company.website}}</a></td>
        </tr>
        <tr>
            <th>Einsatzort</th>
            <td>
                <address>
                    {{vm.offer.zipCode}} {{vm.offer.usageSite}}<br>
                    {{vm.country.name}}
                </address>
            </td>
        </tr>
        <tr>
            <th>Ansprechpartner</th>
            <td>
                <address>
                    <span class="fa fa-user"></span> {{vm.offer.contact.formOfAddress}} {{vm.offer.contact.firstName}}
                    {{vm.offer.contact.secondName}}<br>
                    <span class="fa fa-phone"></span> <a href="tel:{{vm.offer.contact.telephone}}">{{vm.offer.contact.telephone}}</a><br>
                    <span class="fa fa-fax"></span> <a href="fax:{{vm.offer.contact.fax}}">{{vm.offer.contact.fax}}</a><br>
                    <span class="fa fa-envelope"></span> <a href="mailto:{{vm.offer.contact.email}}">{{vm.offer.contact.email}}</a>
                </address>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.close()">Schließen</button>
</div>
