<div class="container-fluid">
    <div class="page-header">
        <h1>Login</h1>
    </div>
    <p>Sehr geehrter Benutzer, herzlich willkommen in der Praxisbörse der Fakultät für Informatik und
        Wirtschaftsinformatik an der Hochschule Karlsruhe - Technik und Wirtschaft.</p>
    <p>Um sich anzumelden benutzen Sie die Zugangsdaten, die Sie vom Informationszentrum erhalten haben.</p>
    <form name="form" ng-submit="vm.login()" role="form">
        <div class="form-group" ng-class="{'has-error': form.username.$dirty && form.username.$error.required}">
            <label for="username">Benutzername</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required/>
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Benutzername wird benötigt</span>
        </div>
        <div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$error.required}">
            <label for="password">Passwort</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required/>
            <span ng-show="form.password.$dirty && form.username.$error.required" class="help-block">Passwort wird benötigt</span>
        </div>
        <br>
        <div class="alert alert-danger" role="alert" ng-if="vm.loginError">
            <p>Benutzername und/oder Passwort falsch</p>
        </div>
        <div class="form-group">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Anmelden
            </button>
            <span class="fa fa-spinner" ng-if="vm.dataLoading"></span>
        </div>
    </form>
</div>