<div class="container-fluid">
    <div class="page-header">
        <h1>Merkzettel</h1>
    </div>
    <form class="form-inline" ng-submit="vm.search()" role="search">
        <div class="form-group">
            <label class="sr-only" for="tags">Schlüsselwörter</label>
            <input type="text" class="form-control" id="tags" placeholder="Schlüsselwörter" ng-model="vm.tags">
        </div>
        <div class="form-group">
            <label class="sr-only" for="offerType">Angebotsart</label>
            <select class="form-control" id="offerType"
                    ng-options="offerType.name for offerType in vm.offerType.options track by offerType.id"
                    ng-model="vm.offerType.selection">
                <option value="" disabled>Angebotsart wählen</option>
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only" for="country">Land</label>
            <select class="form-control" id="country"
                    ng-options="country.name for country in vm.country.options track by country.id"
                    ng-model="vm.country.selection">
                <option value="">Alle Länder</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="vm.offerType.selection == null">Suchen</button>
        </div>
    </form>
    <h2>Suchergebnisse</h2>
    <div class="panel-group">
        <div ng-repeat="offer in vm.offers" class="panel panel-default">
            <div class="panel-heading" ng-click="vm.openCompanyModal(offer.companyId)">
                <h4 class="panel-title">{{vm.companies[offer.companyId].companyName}}</h4>
            </div>
            <div class="panel-body">
                <div>
                    <button type="button" class="btn btn-xs btn-primary pull-right top"
                            ng-if="offer.onNotepad == false" ng-click="vm.addToNotepad(offer.id)"><span
                            class="fa fa-plus"></span>
                        auf Merkzettel
                    </button>
                    <button type="button" class="btn btn-xs btn-default pull-right top" ng-if="offer.onNotepad == true"
                            ng-click="vm.removeFromNotepad(offer.id)">
                        <span class="fa fa-minus"></span>
                        vom Merkzettel
                    </button>
                </div>
                <div ng-click="vm.openOfferModal(offer)">
                    <h4><strong>{{offer.shortDescription}}</strong></h4>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <h5><strong>Kontaktperson</strong></h5>
                        <address>
                            <span class="fa fa-user"></span> {{offer.contact.formOfAddress}} {{offer.contact.firstName}}
                            {{offer.contact.secondName}}<br>
                            <span class="fa fa-envelope"></span> <a href="mailto:{{offer.contact.email}}">{{offer.contact.email}}</a>
                        </address>
                    </div>
                    <div class="col-xs-6">
                        <h5><strong>Einsatzort</strong></h5>
                        <address>
                            {{offer.zipCode}} {{offer.usageSite}}<br>
                            {{vm.countries[offer.countryId].name}}
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" ng-show="vm.toLoadOffers != -1">
        <ul uib-pagination total-items="vm.totalHits" ng-model="vm.page" max-size="3" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" ng-disabled="vm.totalHits <= vm.toLoadOffers" ng-change="vm.loadOffers()"></ul>
    </div>
</div>