<nav class="navbar navbar-default" ng-controller="TopnavController as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false" ng-if="vm.loggedIn">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><strong>Praxisbörse</strong></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse" ng-if="vm.loggedIn">
            <ul class="nav navbar-nav">
                <li><a href="#/offers"><span class="fa fa-suitcase"></span> Angebote</a></li>
                <li><a href="#/notepad"><span class="fa fa-sticky-note"></span> Merkzettel</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login" ng-click="vm.logout()"><span class="fa fa-sign-out"></span> Abmelden</a></li>
            </ul>
        </div>
    </div>
</nav>